<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pares e Impares</title>
</head>
<body>
  <h1>Hola</h1>
  <% @numbers.each do |item| %>
    <h3><%= item %></h3>
  <% end %>
</body>
</html>